<div class="wrapper">
  <div class="header-wrapper">
    <div class="border-wrapper">
      <div class="inner-wrapper">
        <div class="left-wrapper">
          <div class="socials">
            <ul class="socials-list">
              <li class="socials-item">Мы в соц сетях:</li>
              <li class="socials-item">1</li>
              <li class="socials-item">2</li>
              <li class="socials-item">3</li>
              <li class="socials-item">4</li>
              <li class="socials-item">5</li>
            </ul>
          </div>
          <nav class="left-menu">
            <ul class="left-menu-list">
              <li class="menu-item">главная</li>
              <li class="menu-item">игры</li>
              <li class="menu-item">таблица лидеров</li>
            </ul>
          </nav>
        </div>
        <div class="right-wrapper">
          <div class="tagline">
            <span class="tagline-text">Famous games for famous players</span>
          </div>
          <nav class="right-menu">
            <ul class="right-menu-list">
              <li class="menu-item">новости</li>
              <li class="menu-item">о нас</li>
              <li class="menu-item">партнерство</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="logo-block">
    <img src="/assets/img/logo.svg" alt="" class="logo">
  </div>
</div>
